*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.rong{
    width: 80%;
    margin: auto;
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: large;
}

.madich{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
}

textarea{
    width: 100%;
    min-height: 120px;
    padding: 10px;
}

input, button{
    padding: 10px;
    font-size: 16px;
}
