body {
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.box {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #1e293b;
    border-radius: 10px;
    text-align: center;
}

input {
    margin: 15px 0;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    background: #020617;
    padding: 15px;
    border-radius: 5px;
}