body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

.container {
    width: 600px;
    margin: 30px auto;
}

h1 {
    text-align: center;
}

.card {
    background: rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

input {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background: #00ffd5;
}

button:hover {
    background: #00c9aa;
}

.box {
    background: black;
    padding: 10px;
    border-radius: 6px;
    word-break: break-all;
    margin-top: 5px;
}
