body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 500px;
    margin: 80px auto;
    padding: 25px;
    background: #1e293b;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
}

h2 {
    text-align: center;
    color: #38bdf8;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-box {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.encrypt {
    background: #22c55e;
}

.decrypt {
    background: #f97316;
}

.output {
    margin-top: 15px;
    background: #020617;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
}
